/.vscode
/task19-int/bin/
/task19-int/obj/
/task19-int/task19-int.csproj
/task19-string/bin/
/task19-string/obj/
/task19-string/task19-string.csproj
/task21/bin/
/task21/obj/
/task21/task21.csproj
/task23/bin/
/task23/obj/
/task23/task23.csproj
ДЗ.jpg
допник.txt